a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    display: block;
    float: left;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: black;
}

li:hover, li:focus-within {
    background: cadetblue;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 3rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.5rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}